*{
  box-sizing: border-box;
}

.navbar-brand{
  padding-left: 75px;
}

.nav-link{
  font-weight: bold;
  font-size: 1.25em;
  color: black !important;
}

.hero{
  background-image: url(design-assets/hero.jpg);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-bar{
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 80px;
  color: white;
  padding-left: 100px;
  padding-top: 25px;
  font-size: 25px;
}

.hero-bar2{
  padding-right: 75px;
}
.checka{
  padding-left: 120px;
  color: white;
}

.ntrzip{
  float: right;
}

.go{
  color: white !important;
  background-color: #28a745;
}
.junk{
  width: 100%;
  padding-right: 50px;
  padding-top: 50px;
}

.TBAJ{
  padding-left: 100px;
  padding-top: 100px;
}

.bookem{
  background-color: black !important;
  border-color: black !important;
  color: white !important;
  line-height: 2.75;
  padding: 0 30px;
  border-radius: 10px;
  font-size: 20px;
}

.itemsweremove{
  font-family: system-ui;
  font-weight: 550;
  padding-left: 25px;
  color: black;
  font-size: 20px;
}
